.containerBtnCalendar {
    width: 55px !important;
    height: 60px !important;
}

.btnAddCalendar {
    background-color: #CBEACF;
    border: none;
    border-radius: 6px;
    color: white;
    width: 55px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.modalDatePicker {
    width: 15% !important;
    margin: 0 42.5%;
}

.btnAddCalendar:hover {
    background-color: #A1E2A5;
    color: white;
}

.containerBtnCalendar div.modal-content div.modal-body{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.datePicker {
    width: 130% !important;
    height: 45px !important;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    padding: 5%;
    text-align: center;
}

@media screen and (max-height: 981px) and (min-height: 740px) {
    .modalDatePicker {
        width: 18% !important;
    }

    .datePicker{
        width: 120% !important;
    }
}