.bodyFormFirstColumn {
    width: 25%;
    height: 74vh;
    display: flex;
    margin: 3vh 1%;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.bodyFormSecondColumn {
    width: 45%;
    height: 74vh;
    display: flex;
    margin: 3vh 1%;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.headerAwaitList {
    width: 100%;
    height: 10vh;
    background-color: #E5E5E5;
    padding: 1% 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.numberRoomsAwaiting {
    font-size: 60px;
    font-weight: bold;
}

.requestsAwaiting {
    width: 20%;
}

.headerChat {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #B3B4B8;
    height: 10vh;
}

.btnsChat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 5%;
}

.messagesChat {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    padding: 0 2%;
}

.messagesChat::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #00555B;
    border-radius: 5px;
}

.messagesChat::-webkit-scrollbar-thumb {
    background: #A1E2A5;
    border-radius: 5px;
}

.messagesChat::-webkit-scrollbar-track {
    border-radius: 5px;
}

.message {
    margin-top: 20px !important;
}

.noMessages {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
}

.formMessage {
    width: 100%;
    display: flex;
    height: 8vh;
    max-height: 8vh;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #B3B4B8;
    position: relative;
    background-color: #F5F6FA;
}

.formMessage input {
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 4%;
    background-color: #F5F6FA;
}

.formMessage button {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    right: 2%;
    top: 2.5vh;
}

.formMessage form {
    width: 100%;
}

.bodyRoomsOpen {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


.boxRoomOpen {
    border-bottom: 1px solid #B3B4B8;
    padding: 2% 5%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.boxRoomOpen:hover {
    background-color: #CBEACF;
}

.boxRoomOpen:active, .boxRoomOpen:focus {
    background-color: #A1E2A5;
}

@media screen and (max-height: 981px) and (min-height: 740px) {
    .bodyFormFirstColumn {
        height: 77vh;
    }

    .bodyFormSecondColumn {
        height: 77vh;
    }

    .headerAwaitList {
        height: 12vh;
        padding: 0;
    }
    .btnsChat{
        width: 50%;
    }
}