.button:hover {
    background-color: #A1C9A4 !important;
    border: none !important;
    color: white !important;
}

.button:focus, .button:active, .button:visited, .button::selection {
    background-color: #00555B !important;
    border: none !important;
    color: white !important;
}

.secondaryButton:hover {
    background-color: #00555B !important;
    border: none !important;
    color: white !important;
}

.cancelButton:hover {
    filter: brightness(0.9);
}