.headBoxSchedule {
    width: 30%;
    margin: 0 35%;
}

.modalBoxSchedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.modalBoxSchedule .modal-dialog .modal-content {
    width: 700;
    border-radius: 15px;
    border: none;
}

.modalBoxSchedule .modal-dialog {
    margin: 1.75rem calc((100% - 700)/2);
}

.bodyOrdersList {
    width: 90%;
    height: 75%;
    display: flex;
    margin: 3vh 5%;
    flex-direction: column;
    padding: 2% 1%;
    align-items: center;
    background: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.bodyOrdersList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #00555B;
    border-radius: 5px;
}

.bodyOrdersList::-webkit-scrollbar-thumb {
    background: #A1E2A5;
    border-radius: 5px;
}

.bodyOrdersList::-webkit-scrollbar-track {
    border-radius: 5px;
}

.modal-header {
    border: none !important;
    padding: 0;
}

.divTitleOrders {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 1%;
    margin-bottom: 1%;
}

.divOrdersDetails {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5%;
    margin-bottom: 1%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.divColumnsOrders {
    width: 100%;
    height: 100%;
    padding: 0% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divColumnOrdes {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.divOrder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 115px;
    min-height: 115px;
    width: 100%;
    border: 0.5px solid #D0D1D5;
    border-radius: 6px;
    margin: 0.7vh 0;
    padding: 5% 5% 0 5%;
}

.divOrder p {
    margin: 0;
}

.divOrderStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.divOrderDate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-top: 1vh;
}

.divChangeStatus {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.divChangeStatus button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divChangeStatus button:hover {
    background: #A1E2A5;
}

.divChangeStatus button:hover svg {
    color: #FFFFFF !important;
}

.divDishesOrderTitle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3vh;
}

.divDishesOrder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3vh;
}