.bodyFormFirstColumn {
    width: 25%;
    height: 74vh;
    display: flex;
    margin: 3vh 1%;
    flex-direction: column;
    padding: 1% 2%;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.bodyFormSecondColumn {
    width: 72%;
    height: 74vh;
    display: flex;
    margin: 3vh 1%;
    flex-direction: column;
    padding: 1% 2%;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.titlePeriod {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #212121;
    line-height: 26px;
    margin-top: 1vh;
}

.subtitlePeriod {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    line-height: 26px;
    margin: 0;
}

.subtitlePeriod span {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
    line-height: 26px;
}

.w45Period {
    width: 45% !important;
}

.inputDateMenu {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: none;
    padding: 0 10%;
    border: 1px solid #E5E5E5;
}

.searchBar {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 5%;
}

.iconSearch {
    position: absolute;
    left: 2%;
    top: 1vh;
}

.searchBar input[type="search"] {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: none;
    background: #F5F6FA;
    padding: 0 10%;
}

.searchBar input[type="search"]::placeholder {
    color: #8C8E90;
}

.searchBar input[type="search"]:focus {
    border: 1px solid #A1E2A5;
    box-shadow: 0px 3px 6px #A1C9A47F;
    outline: none;
}

.footerMenus {
    border-top: 0.5px solid #D0D1D5;
    height: 8vh;
    width: 100%;
    padding: 2vh 2% 0 2%;
}

.btnSaveNewMenus, .btnDeleteNewMenus {
    margin-right: 3%;
}

.btnSaveNewMenus, .btnCancelNewMenus, .btnDeleteNewMenus {
    width: 15% !important;
}

.footerNewMenus {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid #D0D1D5;
    height: 7vh;
    width: 100%;
    padding: 1.5vh 2% 0 2%;
}

.selectUnitMenu{
    margin-top: 3vh;
}

@media screen and (max-height: 981px) and (min-height: 740px) {
    .bodyFormFirstColumn button {
        height: 45px !important;
        font-size: 16px !important;
    }

    .bodyFormFirstColumn, .bodyFormSecondColumn {
        height: 77vh;
    }

    .iconSearch {
        top: 1.5vh;
    }
}