.footer {
    width: 90%;
    margin: 0 auto;
    height: 36px;
    margin-bottom: 2vh;
}

.footer button {
    cursor: pointer;
}

.headError {
    width: 400px !important;
    margin: 0px calc((100% - 400px)/2) !important;
}

.headerModalError {
    height: 40px;
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
    padding: 1% 3%;
}

.headError .modal-dialog {
    margin: 0px calc((100% - 400px)/2) !important;
    width: 400px !important;
}

.headError .modal-dialog .modal-content {
    width: 400px !important;
    border-radius: 15px;
    border: none;
    height: 160px !important;
}

.modalBodydError {
    width: 400px !important;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px !important;
}

.headError .modal-dialog {
    margin: 1.75rem calc((100% - 400px)/2) !important;
}

.footer {
    width: 70%;
}