.btnDateSchedule {
    color: #444444;
    border: none;
    background-color: #F2F2F2;
    border-radius: 6px;
    width: 55px;
    height: 60px;
}

.btnDateSchedule:hover, .btnDateSchedule:focus, .btnDateSchedule:active {
    background-color: #A1E2A5;
    color: #FFFFFF;
    cursor: pointer;
}

.inputCalendar{
    color: transparent;
    border: none;
    background-color: #F2F2F2;
    border-radius: 6px;
    width: 55px;
    height: 60px;
}