.containerSourceList {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2.5%;
    background-color: #F5F6FA;
    border: 1px dashed rgba(239, 239, 239, 0.205);
    border-radius: 9px;
    overflow-y: auto;
    overflow-x: hidden;
}

.containerSourceList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #00555B;
    border-radius: 5px;
}

.containerSourceList::-webkit-scrollbar-thumb {
    background: #A1E2A5;
    border-radius: 5px;
}

.containerSourceList::-webkit-scrollbar-track {
    border-radius: 5px;
}

.itemSourceList {
    width: 95%;
    height: 65px;
    padding: 0 2.5%;
    margin: 1vh 2.5%;
    background-color: #fff;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.itemSourceList img {
    width: 20%;
    max-height: 65px;
    border-radius: 9px;
}

.itemSourceList input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #00555B !important;
    background-color: #A1E2A5 !important;
    cursor: pointer;
}

.titleItem {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #373432;
    line-height: 26px;
    margin: 0;
    text-align: center;
    margin-right: 10%;
}

@media screen and (max-height: 981px) and (min-height: 740px) {
    .containerSourceList {
        height: 45vh;
    }
}