.bodyFormTwoColumns {
    width: 95%;
    height: 74vh;
    display: flex;
    margin: 3vh 2%;
    flex-direction: column;
    padding: 1% 5%;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.searchBarFormTwoColumns {
    width: 85%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0 3vh 0;
    position: relative;
}

.iconSearch {
    position: absolute;
    left: 2%;
    top: 0.5vh;
}

.searchBarFormTwoColumns input[type="search"] {
    width: 85%;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #F5F6FA;
    padding: 0 10%;
}

.searchBarFormTwoColumns input[type="search"]::placeholder {
    color: #8C8E90;
}

.searchBarFormTwoColumns input[type="search"]:focus {
    border: 1px solid #A1E2A5;
    box-shadow: 0px 3px 6px #A1C9A47F;
    outline: none;
}

.containerTable {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    min-height: 55vh;
}

.containerTable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #00555B;
    border-radius: 5px;
  }
  
.containerTable::-webkit-scrollbar-thumb{
    background: #A1E2A5;
    border-radius: 5px;
}

.containerTable::-webkit-scrollbar-track {
    border-radius: 5px;
}

.tableScale {
    width: 100%;
}

.rows {
    font: normal normal normal 12px/14px Arial;
    height: 45px;
    border-bottom: 1px solid #e0e0e0;
}

.tableScale tbody tr:hover {
    background-color: #A1E2A5;
}

.tableScale thead tr th{
    font: normal normal bold 12px/14px Arial;
    font-weight: bold;
    letter-spacing: 0.03333em;
    text-align: left;
    color: #212121;
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
}

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.footer select {
    height: 30px;
    width: 75px;
    border: 0.5px solid #D0D1D5;
    border-radius: 5px;
    background: #F6FAFD;
    text-align: center;
    font: normal normal normal 12px/14px Arial;
    color: #6F6D79;
    opacity: 0.8;
}

@media screen and (max-height: 981px) and (min-height: 740px) {
    .bodyFormTwoColumns {
        height: 78vh;
    }
}