.bodyScale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 5%;
}

.formInserScale {
    width: 60%;
    height: 74vh;
    display: flex;
    margin: 3vh 0%;
    flex-direction: column;
    padding: 1% 0%;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.formInserScale div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.emptySpecialist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.emptySpecialist p {
    width: 100%;
    text-align: center;
}

.scheduleScale {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2vh;
    border-bottom: 0.5px solid #D0D1D5;
}

.scheduleScale select {
    width: 20%;
    height: 40px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 1% 5%;
    font-size: 16px;
}

.scheduleScale select:active, .scheduleScale select:focus {
    border: 1px solid #A1E2A5;
    box-shadow: 0px 3px 6px #A1C9A47F;
    outline: none;
}

.titleScale {
    height: 6vh;
    padding: 1vh 2% 0 2%;
    border-bottom: 0.5px solid #D0D1D5;
    margin-bottom: 2vh;
}

.bodySelectScale {
    height: 10vh;
}

.footerScale {
    border-top: 0.5px solid #D0D1D5;
    height: 7vh;
    width: 100%;
    padding: 2vh 2% 0 2%;
}

.btnSaveScale {
    margin-right: 3%;
}

.btnSaveScale, .btnCancelScale {
    width: 15% !important;
}

.selectDateScale {
    width: 100%;
    display: flex;
    height: 50vh;
    min-height: 30vh;
    flex-direction: column !important;
    justify-content: space-around;
    align-items: center;
    padding: 0 2%;
}

.divDatesSchedule {
    display: flex;
    flex-direction: row !important;
    padding: 0 10%;
    overflow-y: hidden;
    justify-content: space-around;
    margin-bottom: 3vh;
    align-items: center;
}

.divHoursDisponibles {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 3vh;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-height: 981px) and (min-height: 740px) {
    .formInserScale {
        height: 77vh;
    }
    .btnSaveScale{
        margin-right: 8%;
    }
}